.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.nav {
  background-color: #f1f1f1;
  padding: 1rem;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

thead > tr > th {
  text-align: center;
}

tbody > tr > td {
  text-align: center;
}

tr > *:nth-child(even) {
  padding: 0 2rem;
}

.form {
  display: flex;
  justify-content: center;
}

.smitem {
  width: 20%;
}

.smamount {
  margin: 0 1rem;
  width: 10%;
}

hr {
  width: 75%;
  margin: 1.5rem;
}

/* General rules */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Dark theme rules */
body {
  background-color: #222;
  color: #f0f0f0;
}

.header {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

.nav {
  background-color: #444;
  padding: 1rem;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav ul li a {
  text-decoration: none;
  color: #f0f0f0;
}

.nav ul li a:hover {
  color: #00a0d2;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.form input {
  margin-right: 1rem;
  padding: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.footer {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

.main-content {
  padding: 1rem;
}

table {
  width: 75%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table th,
table td {
  border: 1px solid #f0f0f0;
  padding: 0.5rem;
  text-align: center;
}

table th {
  background-color: #444;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #333;
}

table tr:hover {
  background-color: #555;
}

/* Table column styles */
.first-column {
  width: 66.67%;
  text-align: center;
  font-size: 1.2rem;
}

.second-column {
  width: 10%;
  text-align: center;
}

.first-column.line-through span {
  position: relative;
}

.first-column.line-through span::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%; /* Center the line vertically */
  left: 0;
  width: 100%; /* Set the width of the line to fit the length of the text */
  height: 2px; /* Adjust the height of the line */
  background-color: red; /* Set the color of the line */
  transform: translateY(50%); /* Move the line up half the height of the text */
}

.editQuantity {
  width: 10%;
  text-align: center;
}

.smamount {
  width: 20% !important;
}

.smitem,
.smamount {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.5rem;
  transition: border-color 0.3s ease;
}

.smitem:focus,
.smamount:focus {
  border-color: #007bff;
  outline: none;
}

.smitem {
  width: 20%;
  margin-right: 0.5rem;
}

.smamount {
  margin: 0 1rem;
  width: 10%;
}

.button-3 {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.button-3:hover {
  background-color: #0056b3;
}

/* Small screens */
@media (max-width: 600px) {
  /* Hide the date column */
  .second-column {
    width: 10%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  /* Reduce the font size and padding of the table headers */
  th {
    font-size: 0.8em;
    padding: 0.2em;
  }

  /* Reduce the font size and padding of the table cells */
  td {
    font-size: 0.8em;
    padding: 0.2em;
  }

  /* Adjust the form input sizes */
  .smitem,
  .smamount {
    width: 45%;
    margin: 0.2em;
    font-size: 0.8em;
  }

  /* Reduce the button font size and padding */
  button {
    font-size: 0.8em;
    padding: 0.2em;
  }
}

/* Large screens */
@media (min-width: 601px) {
  /* Show the date column */
  .third-column {
    display: table-cell;
  }

  /* Reset the font size and padding of the table headers */
  th {
    font-size: 1em;
    padding: 0.5em;
  }

  /* Reset the font size and padding of the table cells */
  td {
    font-size: 1em;
    padding: 0.5em;
  }

  /* Reset the form input sizes */
  .smitem,
  .smamount {
    width: 100%;
    margin: 0.5em;
    font-size: 1em;
  }

  /* Reset the button font size and padding */
  button {
    font-size: 1em;
    padding: 0.5em;
  }
}

@media (max-width: 500px) {
  .second-column {
    width: 15%;
    padding: 0.3rem !important;
  }

  .first-column {
    width: 40%;
    padding: 0.3rem !important;
  }
}

@media (max-width: 420px) {
  /* Reset the width of the input fields */

  .smitem {
    width: 90%;
  }
  .smamount {
    width: 20%;
  }

  td.editDeleteBtn {
    display: flex;
    align-items: stretch;
    padding: 0 !important;
    border: 0;
    height: 100%;
    margin: 0.4rem;
  }

  .button-44 {
    height: 100%;
    margin: 0.1rem;
    border-radius: 10px;
  }

  td.editDeleteBtn > button {
    flex: 1;
  }

  .btn-submit {
    background-color: lightgreen;
  }

  .SmTableBody > tr,
  .SmTableBody td {
    height: 100%;
  }
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* CSS */
.button-44 {
  background: #e62143;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, 'Roboto Slab', 'Droid Serif', 'Segoe UI', system-ui, Arial, sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  padding: 0.4em 0.8em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  border: 0;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
  height: 100%;
  width: 100%;
  border-radius: 0;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
  border-radius: 0;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

/* CSS */
.button-25 {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}

/* Style the input elements */
.editName,
.editQuantity {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.editName:focus,
.editQuantity:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.SuperMarket-List-Title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #b2f08c;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Check {
  white-space: nowrap;
  padding: 0.2rem !important;
}
.second-column {
  width: 10% !important;
  text-align: center;
}


.plus {
  background-color: green;
  margin: 10rem 0
}

.minus {
 background-color: red;
}


.plus, .minus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}



.transaction-type label {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}

.transaction-type input[type="radio"] {
  display: none;
}

.transaction-type input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.transaction-type input[type="radio"]:checked + label:before {
  background-color: #007bff;
  border-color: #007bff;
}

